<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="HelpFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Help Form Code" %>
<%@ Property Name="PackageFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Goline Coporation" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="Package" Category="1. Context" Description="Author kage" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\\..\\..\\include\\GolineUtilities.inc" -->
/*
 * Copyright(C) 2012 Okasan Information Systems Co.,Ltd. All rights reserved.
 */
package jp.co.okasan.pr.hlp.hlp<%=this.HelpFormCode%>;

import java.awt.Color;
import java.awt.Dimension;
import java.awt.Rectangle;
import java.awt.event.MouseEvent;
import java.util.HashMap;

import javax.swing.JComponent;
import javax.swing.JScrollPane;
import javax.swing.table.TableCellRenderer;

import jp.co.nec.frw0000.pr.util.Frw00CloseWindowAction;
import jp.co.nec.frw0000.pr.util.Frw00TransferKeyData;
import jp.co.nec.frw0000.pr.view.Frw00BaseTemplateFrame;
import jp.co.nec.frw0000.pr.view.Frw00ClientPanel;
import jp.co.nec.frw1000.pr.clcommon.Frw10ClientException;
import jp.co.nec.frw1000.pr.component.UILabel;
import jp.co.nec.frw1000.pr.component.event.TableMouseAdapter;
import jp.co.nec.frw1000.pr.component.table.UITableColumn;
import jp.co.okasan.cmn.TableLabelRenderer;
import jp.co.okasan.frw.pr.MUIHalfWidthANTextField;
import jp.co.okasan.frw.pr.MUIHalfWidthTextField;
import jp.co.okasan.frw.pr.MUILabel;
import jp.co.okasan.frw.pr.MUITable;
import jp.co.okasan.frw.pr.MUITableColumn;

/**
 * Hlp<%=this.HelpFormCode%>Panel Class's Description <br>
 * <p>
 * Client area class of <%=this.GetTableDescription(SourceTable)%>
 * </p>
 * 
 * @author: <%=Author%> <%=this.GetCurrentDate()%> Create New
 */
public class Hlp<%=this.HelpFormCode%>Panel extends Frw00ClientPanel {
	
	////////// Define Variables //////////
	
	/**
	 * 
	 */
	private static final long serialVersionUID = 1L;

	/** jscroll panel */
	JScrollPane jScrollPane = null;
	
	/** table data List */  
	MUITable tblDataList = null;
	
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
	/** <%=this.GetColumnName(col)%> Label*/
	MUILabel lbl<%=this.GetColumnName(col)%> = null;
	
	/** <%=this.GetColumnName(col)%> TextField  */
	MUIHalfWidthTextField txt<%=this.GetColumnName(col)%> = null;
	
	<%}%>
	////////// Class Constructor //////////
	
	/**
	 * Constructor <br>
	 * Call Constructor base template.
	 * 
	 * @param Nothing
	 * @exception Nothing
	 */
	public Hlp<%=this.HelpFormCode%>Panel() {
        super();

        try {
            // Init panel
            jbInit();

        } catch (Exception e) {
            // Show error if exist
            showErrorDialog(e, true);
        }
    }
	
	////////// Methods Define//////////
	
	/**
	 * Put selected data from help screen to parent screen. <br>
	 * 
	 * @param Nothing
	 * @return HashMap map put data
	 * @exception Frw10ClientException when have a failure of select data
	 */
	@SuppressWarnings({ "unchecked", "rawtypes" })
	public HashMap createDeliverData() throws Frw10ClientException {
	
		// Init HashMap
        HashMap map = new HashMap();
		
		// Init row to map
        <%int count =0;%>
		<%foreach(ColumnSchema col in SourceTable.Columns){%>
		<%if(col.Name == "DEL_CD") continue;%>
		int getRow<%=count.ToString()%> = <%=count.ToString()%>;
		<%count ++;%>
		<%}%>
        
		// Init transfer param
		<%foreach(ColumnSchema col in SourceTable.Columns){%>
		<%if(col.Name == "DEL_CD") continue;%>
		String transfer<%=this.GetColumnName(col)%> = "<%=this.GetColumnNameParam(col)%>";
		<%}%>
        
        // Get row model array
        Object[] objTblRowModel= tblDataList.getSelectedRowModel();

        // Put into map
        if ( objTblRowModel != null ) {
		 	<% count =0;%>
            <%foreach(ColumnSchema col in SourceTable.Columns){%>
			<%if(col.Name == "DEL_CD") continue;%>
            map.put(toTransferName(transfer<%=this.GetColumnName(col)%>), objTblRowModel[getRow<%=count.ToString()%>]);
			<%count ++;%>
			<%}%>
        }
        return map;
	}
	
	/**
     * Method clear table data of screen's component. <br>
     * 
     * @param
     * @exception
     */
    void clearTable() {
	
    	// Reset table data List
    	tblDataList.reset();
		Frw00BaseTemplateFrame frame = (Frw00BaseTemplateFrame) getTopLevelAncestor();
		frame.transferFocus();
    }
	
	/**
	 * Method init panel of screen. <br>
	 * 
	 * @param Nothing
	 * @exception Exception when have an exception while screen creating
	 */
	private void jbInit() throws Exception {
	
		<% bool first = true;%>
		<% string preCol = "";%>
		<% int x=25,y=10,w=80,h=20;%>
		<%foreach(ColumnSchema col in SourceTable.Columns){%>
		<%if(col.Name == "DEL_CD") continue;%>
		
		<% preCol = this.GetColumnName(col);%>
		
		// First control
		<%if(first){%>
		
		// <%=this.GetColumnName(col)%> Label
		lbl<%=this.GetColumnName(col)%> = new MUILabel();
		lbl<%=this.GetColumnName(col)%>.setOpaque(false);
		lbl<%=this.GetColumnName(col)%>.setText("Hlp<%=this.HelpFormCode%>Panel_lbl<%=this.GetColumnName(col)%>");
		lbl<%=this.GetColumnName(col)%>.setBounds(new Rectangle(<%=x%>,<%=y%>,<%=w%>,<%=h%>));
		this.add(lbl<%=this.GetColumnName(col)%>);
		
		<%first = false;%>
		
		<%}else{%>
		
		// <%=this.GetColumnName(col)%> Label
		lbl<%=this.GetColumnName(col)%> = new MUILabel();
		lbl<%=this.GetColumnName(col)%>.setOpaque(false);
		lbl<%=this.GetColumnName(col)%>.setText("Hlp<%=this.HelpFormCode%>Panel_lbl<%=this.GetColumnName(col)%>");
		lbl<%=this.GetColumnName(col)%>.setBounds(new Rectangle(lbl<%=preCol%>.getX()
				+ txt<%=preCol%>.getWidth(),<%=y%>,<%=w%>,<%=h%>));
		this.add(lbl<%=this.GetColumnName(col)%>);
		
		<%}%>
		
		// <%=this.GetColumnName(col)%> TextField
		txt<%=this.GetColumnName(col)%> = new MUIHalfWidthTextField();
		<%if(this.IsTextColumn(col)){%>
		txt<%=this.GetColumnName(col)%>.setMaxLength(<%=col.Size%>);
		<%}%>
		txt<%=this.GetColumnName(col)%>.setBounds(new Rectangle(lbl<%=this.GetColumnName(col)%>.getX(), <%=y+25%>, 80, 20));
		txt<%=this.GetColumnName(col)%>.setPartsName("<%=this.GetColumnNameParam(col)%>");
		this.add(txt<%=this.GetColumnName(col)%>);
		<%x=x+80;%>
		
		<%}%>
		// Declare Columns
		<% count =0;%>
		<%foreach(ColumnSchema col in SourceTable.Columns){%>
		<%if(col.Name == "DEL_CD") continue;%>
		MUITableColumn column<%=count%> = new MUITableColumn();
		<%count++;%>
		<%}%>
		
		<% count =0;%>
		<%foreach(ColumnSchema col in SourceTable.Columns){%>
		<%if(col.Name == "DEL_CD") continue;%>
		
		<%if(col.Name == "APPROVED_DATE_TIME"){%>
		
		// Approved Date Time
		column13.setColumnName("APPROVED_DATE_TIME");
		column13.setWidth(120);
		column13.setColumnClass(String.class);
		
		<%}else if(col.Name == "APPROVED_USER_ID"){%>
		
		// <%=this.GetColumnDescription(col)%>
		column<%=count%>.setColumnName("APPROVED_USER_ID");
		column<%=count%>.setWidth(120);
		column<%=count%>.setColumnClass(String.class);
		
		<%}else if(col.Name == "REG_DATE_TIME"){%>
		
		// <%=this.GetColumnDescription(col)%>
		column<%=count%>.setColumnName("REG_DATE_TIME");
		column<%=count%>.setWidth(120);
		column<%=count%>.setColumnClass(String.class);
		
		<%}else if(col.Name == "REG_USER_ID"){%>
		
		// <%=this.GetColumnDescription(col)%>
		column<%=count%>.setColumnName("REG_USER_ID");
		column<%=count%>.setWidth(120);
		column<%=count%>.setColumnClass(String.class);
		
		<%}else if(col.Name == "UPD_DATE_TIME"){%>
		
		// <%=this.GetColumnDescription(col)%>
		column<%=count%>.setColumnName("UPD_DATE_TIME");
		column<%=count%>.setWidth(120);
		column<%=count%>.setColumnClass(String.class);
		
		<%}else if(col.Name == "UPD_USER_ID"){%>
		
		// <%=this.GetColumnDescription(col)%>
		column<%=count%>.setColumnName("UPD_USER_ID");
		column<%=count%>.setWidth(120);
		column<%=count%>.setColumnClass(String.class);
		
		<%}else {%>
		
		<%if(col.Name.Contains("QTY") || col.Name.Contains("QUANTITY")  || col.Name.Contains("AMOUNT")  || col.Name.Contains("VALUE")  || col.Name.Contains("PRICE")  || col.Name.Contains("RATE") || col.Name.Contains("RefNo") ){%>
		
		// <%=this.GetColumnDescription(col)%>
		column<%=count%>.setColumnName("Hlp<%=this.HelpFormCode%>Panel_lbl<%=this.GetColumnName(col)%>");
		column<%=count%>.setWidth(110);
		column<%=count%>.setColumnClass(BigDecimal.class);
		column<%=count%>.setCellRenderer(new DecimalRenderer());
		
		<%}else if(col.Name.Contains("DATE")  ){%>
		
		// <%=this.GetColumnDescription(col)%>
		column<%=count%>.setColumnName("Hlp<%=this.HelpFormCode%>Panel_lbl<%=this.GetColumnName(col)%>");
		column<%=count%>.setWidth(90);
		column<%=count%>.setColumnClass(String.class);
		column<%=count%>.setCellRenderer(new DateRenderer());
		
		<%}else {%>
		
		// <%=this.GetColumnDescription(col)%>
		column<%=count%>.setColumnName("Hlp<%=this.HelpFormCode%>Panel_lbl<%=this.GetColumnName(col)%>");
		column<%=count%>.setWidth(80);
		column<%=count%>.setColumnClass(String.class);
		//column<%=count%>.setCellRenderer(TableLabelRenderer.getHorizontalCenterRenderer());
		
		<%}%>
		
		<%}%>
		
		<%count++;%>
		
		<%}%>
		<% count =0;%>
		Object[] column = {<%foreach(ColumnSchema col in SourceTable.Columns){%><%if(col.Name == "DEL_CD") continue;%>column<%=count%><%if(count != (SourceTable.Columns.Count-1)){%>, <%}%><% count ++;}%>};
		
		// data List
		tblDataList = new MUITable();
		tblDataList.setColumnData(column);
		tblDataList.setGridColor(Color.lightGray);
		tblDataList.setPartsName("dataList");
	    tblDataList.addMouseListener(new TableMouseAdapter() {
	    	public void mousePressed(MouseEvent e) {
	    		if (e.getClickCount() == 2) {
	    			try {
	    				createDeliverData();
	    				Frw00BaseTemplateFrame frame = (Frw00BaseTemplateFrame) getTopLevelAncestor();
	    				Frw00CloseWindowAction closeAction = new Frw00CloseWindowAction(); 
	    				closeAction.executeAction(frame);
	    			} catch (Frw10ClientException ex) {
	    				// 
	    			}
	    		}
	    	}
	    });
		
		TableCellRenderer render = tblDataList.getTableHeader().getDefaultRenderer();
	    JComponent comp = (JComponent)render.getTableCellRendererComponent(tblDataList, null, false, false, 0, 0);
	    Dimension dim = comp.getPreferredSize();
		
	    // Set Width & height
	    dim.height = <%=h%>; 
	    dim.width = <%=SourceTable.Columns.Count * 50%>; 
	    comp.setPreferredSize(dim);
		
		// Add to scroll panel
		jScrollPane = new JScrollPane();
		jScrollPane.setVerticalScrollBarPolicy(JScrollPane.VERTICAL_SCROLLBAR_ALWAYS);
		jScrollPane.setHorizontalScrollBarPolicy(JScrollPane.HORIZONTAL_SCROLLBAR_AS_NEEDED);
		jScrollPane.setBounds(new Rectangle(25, 60, 600, 325));
		jScrollPane.getViewport().add(tblDataList, null);
		this.setPreferredSize(new Dimension(630, 380));
		this.add(jScrollPane);
	}
	
	/**
     * Return the source component which called the help screen <br>
     * 
     * @param name 
     * @return the source component
     * @exception Nothing
     */
    private String toTransferName(String name) {
        Frw00TransferKeyData keyData = getTransferKeyData();      
        if (keyData != null) {
            return keyData.getTransferKey(name);
        }
		
        return name;
    }
}
<script runat="template">
// My methods here.

public string SampleMethod()
{
	
	return "Method output.";
}
</script>