<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="FinderCode" Type="System.String" Default="1000" Category="1. Context" Description="Help Form Code" %>
<%@ Property Name="UpdaterCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Huan.Nguyen Van" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="Package" Category="1. Context" Description="Author kage" %>
<%@ Property Name="Prefix" Type="System.String" Default="Pkg" Category="1. Context" Description="Prefix " %>
<%@ Property Name="EntityName" Type="System.String" Default="EntityName" Category="1. Context" Description="Name of entity" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>

<!-- #include file="..\..\\include\\GolineUtilities.inc" -->
/*
 * Copyright(C) 2012 Okasan Information Systems Co.,Ltd. All rights reserved.
 * 
 */
package jp.co.okasan.data;

import java.io.Serializable;
import java.math.BigDecimal;
import java.util.Date;

/**
 * <%=this.EntityName%> Class's Description. <br>
 * <UL>
 * <LI></LI>
 * </UL>
 * @author: <%=Author%> <%=this.GetCurrentDate()%> Create new
 */
public class <%=this.EntityName%> implements Serializable {
	
	////////// Class Variables //////////
	
	/**
	 * Serial version UID
	 */
	private static final long serialVersionUID = 1L;
	
	<%foreach ( ColumnSchema col in SourceTable.Columns ){%>
	/** <%=this.GetColumnDescription(col)%> */
	private <%=this.GetFrontColumnDataType(col)%> <%=this.GetColumnNameParam(col)%>;
	
	<%}%>
	////////// Class Methods //////////
	
	<%foreach( ColumnSchema col in SourceTable.Columns){%>
	/**
	 * Set <%=this.GetColumnName(col)%><br>
	 * @param <%=this.GetColumnNameParam(col)%> <%=this.GetFrontColumnDataType(col)%> mapping to <%=this.GetColumnName(col)%>
	 */
	public void set<%=this.GetColumnName(col)%>(<%=this.GetFrontColumnDataType(col)%> <%=this.GetColumnNameParam(col)%>) {
		this.<%=this.GetColumnNameParam(col)%> = <%=this.GetColumnNameParam(col)%>;
	}
		
	<%}%>
	<%foreach( ColumnSchema col in SourceTable.Columns){%>
	/**
	 * Get <%=this.GetColumnName(col)%><br>
	 * @return <%=this.GetColumnName(col)%> value
	 */
	public <%=this.GetFrontColumnDataType(col)%> get<%=this.GetColumnName(col)%>() {
		return this.<%=this.GetColumnNameParam(col)%>;
	}
	
	<%}%>
}

<script runat="template">
// My methods here.

public string SampleMethod()
{
	return "Method output.";
}
</script>