<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="FinderCode" Type="System.String" Default="1000" Category="1. Context" Description="Help Form Code" %>
<%@ Property Name="UpdaterCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Huan.Nguyen Van" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="Package" Category="1. Context" Description="Author kage" %>
<%@ Property Name="Prefix" Type="System.String" Default="Pkg" Category="1. Context" Description="Prefix " %>
<%@ Property Name="EntityName" Type="System.String" Default="EntityName" Category="1. Context" Description="Name of entity" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\\include\\GolineUtilities.inc" -->
	/**
	 * GetData object from resultset <br>
	 *
	 * @param resultset object
	 * @return Object data
	 * @exception SQLException
	 */
	protected <%=this.EntityName%> getData(ResultSet resultset)
		throws SQLException {
		
		// Declare <%=this.GetTablename(this.SourceTable)%> data
		<%=this.EntityName%> data = new <%=this.EntityName%>();
		
		// Create result set metadata
		ResultSetMetaData rsmd = resultset.getMetaData();

		int index = 1;

		// Get column count
		int columnCount = rsmd.getColumnCount();
		while(index <= columnCount){
			String columnName = rsmd.getColumnName(index);

			switch (columnName) {
			<%foreach( ColumnSchema col in SourceTable.Columns){%>
			case <%=col.Name%>:
				data.set<%=this.GetColumnName(col)%>(resultset.get<%=this.GetColumnDataType(col)%>(<%=col.Name%>));
				break;
			
			<%}%>
			default:
				break;
			}
			
			index ++;
		}
		
		// Return data
		return data;
	}

<script runat="template">
// My methods here.

public string SampleMethod()
{
	return "Method output.";
}
</script>