<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="HelpFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Help Form Code" %>
<%@ Property Name="PackageFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Goline Coporation" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="mst" Category="1. Context" Description="Author kage" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\\..\\..\\include\\GolineUtilities.inc" -->
/*
 * Copyright(C) 2012 Okasan Information Systems Co.,Ltd. All rights reserved.
 */
package jp.co.okasan.cm.<%=Package%>.<%=Package%><%=PackageFormCode%>;

import jp.co.nec.frw0000.cm.data.Frw00InputData;
import jp.co.okasan.cm.cmn.PRData;

/**
* <%=this.PackageFormCode%><%=PackageFormCode%>InputData class's Description. <br>
* <p>
*  Input data class of <%=this.GetTableDescription(this.SourceTable)%>.
* </p>
* Set and Get data of screen component.
*
* @author: <%=Author%> <%=this.GetCurrentDate()%> Create New
*/
public class <%=this.GetInputDataName(Package, PackageFormCode)%> extends Frw00InputData {
	
	////////// Class Variables //////////
	
	/** Action Mode */
	private String actionMode;
	
	<%foreach ( ColumnSchema col in SourceTable.Columns ){%>
	/** <%=this.GetColumnDescription(col)%> */
	private String <%=this.GetColumnNameParam(col)%>;
	
	<%}%>
	/** Hidden Update DateTime */
	private String timeStamp;
	
	/** Base PR data */
	private PRData prData;
	
	////////// Class Methods //////////
	
	/**
	 * Get actionMode
	 * @param Nothing
	 * @return String actionMode
	 * @exception Nothing
	 */
	public String getActionMode() {
		return actionMode;
	}
	
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
	/**
	 * <%=this.GetColumnDescription(col)%> 
	 * @param Nothing
	 * @return String <%=this.GetColumnDescription(col)%>
	 * @exception Nothing
	 */
	public String get<%=this.GetColumnName(col)%>() {
		return <%=this.GetColumnNameParam(col)%>;
	}
	
	<%}%>
	/**
	 * Set actionMode
	 * @param actionMode String
	 * @exception 
	 */
	public void setActionMode(String actionMode) {
		this.actionMode = actionMode;
	}
	
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
	/**
	 * <%=this.GetColumnDescription(col)%>
	 * @param <%=this.GetColumnNameParam(col)%> String <%=this.GetColumnDescription(col)%>
	 * @exception Nothing
	 */
	public void set<%=this.GetColumnName(col)%>(String <%=this.GetColumnNameParam(col)%>) {
		this.<%=this.GetColumnNameParam(col)%> = <%=this.GetColumnNameParam(col)%>;
	}
	
	<%}%>
	/**
     * Get timeStamp
     * @param Nothing
     * @return String timeStamp
     * @exception
     */
    public String getTimeStamp() {
        return timeStamp;
    }
    
    /**
     * Set timeStamp 
     * @param String timeStamp
     * @exception Nothing
     */
    public void setTimeStamp(String timeStamp) {
        this.timeStamp = timeStamp;
    }
	
	/**
     * Get prData
     * @param Nothing
     * @return String timeStamp
     * @exception
     */
    public PRData getPrData() {
        return prData;
    }
    
    /**
     * Set prData 
     * @param PRData prData
     * @exception Nothing
     */
    public void setPrData(PRData prData) {
        this.prData = prData;
    }
	
	/**
     * Return data input infomation for management purpose. <br>
	 *
     * @param Nothing
     * @return String data input infomation
     * @exception Nothing
     */
	public String toString() {
		StringBuffer inputData = new StringBuffer(super.toString());
		<%foreach(ColumnSchema col in SourceTable.Columns){%>
		inputData.append(",<%=this.GetColumnNameParam(col)%>=");
		inputData.append(<%=this.GetColumnNameParam(col)%>);
		<%}%>
		
		return inputData.toString();
	}
}

<script runat="template">
// My methods here.

public string SampleMethod()
{
	return "Method output.";
}



</script>