<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="HelpFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Help Form Code" %>
<%@ Property Name="PackageFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Goline Coporation" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="mst" Category="1. Context" Description="Author kage" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\\..\\..\\include\\GolineUtilities.inc" -->
/*
 * Copyright(C) 2012 Okasan Information Systems Co.,Ltd. All rights reserved.
 */
package jp.co.okasan.cm.<%=Package%>.<%=Package%><%=PackageFormCode%>;

import jp.co.nec.frw0000.cm.data.Frw00ResultData;

/**
 * <%=this.GetResultDataName(this.Package, this.PackageFormCode)%> class's Description <br>
 * <P>
 * Response data class of <%=this.GetTableDescription(this.SourceTable)%>
 * <p>
 * Set and Get value for response data class from Server
 * 
 * @author: <%=this.Author%> <%=this.GetCurrentDate()%> Create New
 */
public class <%=this.GetResultDataName(this.Package, this.PackageFormCode)%> extends Frw00ResultData {
	
	////////// Class Variables //////////
	
	/** Action Mode */
	private String actionMode;
	
	/** answerId **/
	private String[] answerIdArray;
	
	/** pushMessageId **/
	private String pushMessageId;
	
	<%foreach(ColumnSchema col in this.SourceTable.Columns){%>
	//<%=this.GetColumnDescription(col)%>
	private String <%=this.GetColumnNameParam(col)%>;
	
	<%}%>
	/** HiddenUpdateDateTime*/
	private String timeStamp;
	
	////////// Constructor //////////
	
	/**
	 * <%=this.GetResultDataName(this.Package, this.PackageFormCode)%> Constructor description. <br>
	 * 
	 * @param Nothing
	 * @exception Nothing
	 */
	public <%=this.GetResultDataName(this.Package, this.PackageFormCode)%>() {
		super();
	}
	
	/**
	 * <%=this.GetResultDataName(this.Package, this.PackageFormCode)%> Constructor description<BR>
	 * 
	 * @param  inputData <%=this.GetResultDataName(this.Package, this.PackageFormCode)%> input data from client
	 * @exception Nothing
	 */
	public <%=this.GetResultDataName(this.Package, this.PackageFormCode)%>(<%=this.GetResultDataName(this.Package, this.PackageFormCode)%> inputData) {
		super();
	}
	
	////////// Methods define //////////
	
	/**
	 * Get actionMode <br>
	 * 
	 * @param Nothing
	 * @return String actionMode
	 * @exception Nothing
	 */
	public String getActionMode() {
		return actionMode;
	}
	
	/**
     * Get answerIdArray <br>
     * @param Nothing
     * @return String[] answerIdArray
     * @exception Nothing
     */
    public String[] getAnswerIdArray() {
        return answerIdArray;
    }
	
	/**
     * Set pushMessageId <br>
     * @param Nothing
     * @return String pushMessageId
     * @exception Nothing
     */
    public String getPushMessageId() {
        return pushMessageId;
    }
	
	/**
     * Get timeStamp
     * @param Nothing
     * @return String timeStamp
     * @exception Nothing
     */
    public String getTimeStamp() {
        return timeStamp;
    }
	
	<%foreach(ColumnSchema col in this.SourceTable.Columns){%>
	/**
	 * Get <%=this.GetColumnDescription(col)%> <br>
	 * 
	 * @param 
	 * @return String <%=this.GetColumnNameParam(col)%>
	 * @exception 
	 */
	public String get<%=this.GetColumnName(col)%>() {
		return <%=this.GetColumnNameParam(col)%>;
	}
	
	<%}%>
	/**
	 * Set actionMode <br>
	 * 
	 * @param actionMode String
	 * @exception Nothing
	 */
	public void setActionMode(String actionMode) {
		this.actionMode = actionMode;
	}
	
	/**
     * Set answerIdArray <br>
     * @param String[] answerIdArray
     * @exception Nothing
     */
    public void setAnswerIdArray(String[] answerIdArray) {
        this.answerIdArray = answerIdArray;
    }
	
	/**
     * Set pushMessageId
     * @param String pushMessageId
     * @exception Nothing
     */
    public void setPushMessageId(String pushMessageId) {
        this.pushMessageId = pushMessageId;
    }
	
	<%foreach(ColumnSchema col in this.SourceTable.Columns){%>
	/**
	 * Set <%=this.GetColumnDescription(col)%><br>
	 * 
	 * @param <%=this.GetColumnNameParam(col)%> String
	 * @exception Nothing
	 */
	public void set<%=this.GetColumnName(col)%>(String <%=this.GetColumnNameParam(col)%>) {
		this.<%=this.GetColumnNameParam(col)%> = <%=this.GetColumnNameParam(col)%>;
	}
	
	<%}%>
	/**
     * Set timeStamp 
     * @param String timeStamp
     * @exception Nothing
     */
    public void setTimeStamp(String timeStamp) {
        this.timeStamp = timeStamp;
    }
	
	/**
     * Return response data infomation for management purpose. <br>
	 *
     * @param Nothing
     * @return String response data infomation
     * @exception Nothing
     */
	public String toString() {
		StringBuffer outputData = new StringBuffer(super.toString());
		outputData.append(",actionMode=");
		outputData.append(actionMode);
		<%foreach(ColumnSchema col in this.SourceTable.Columns){%>
		outputData.append(",<%=this.GetColumnNameParam(col)%>=");
		outputData.append(<%=this.GetColumnNameParam(col)%>);
		<%}%>
		outputData.append(",answerIdArray=");
		outputData.append(answerIdArray);	
		outputData.append(",pushMessageId=");
		outputData.append(pushMessageId);
		
		return outputData.toString();
	}
}
<script runat="template">
// My methods here.

public string SampleMethod()
{
	return "Method output.";
}
</script>