<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="HelpFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Help Form Code" %>
<%@ Property Name="PackageFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Goline Coporation" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="Package" Category="1. Context" Description="Author kage" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\\..\\include\\GolineUtilities.inc" -->
/*
 * Copyright(C) 2012 Okasan Information Systems Co.,Ltd. All rights reserved.
 * 
 * 
 */
package jp.co.okasan.dao;

import jp.co.nec.frw0100.ap.dao.*;

/**
 * <%=this.GetTablename(SourceTable)%>Info Class's Description. <br>
 * <UL>
 * <LI></LI>
 * </UL>
 * @author: <%=Author%> <%=this.GetCurrentDate()%> Create New
 */
public class <%=this.GetTablename(SourceTable)%>Info
	implements TableInfo, <%=this.GetTablename(SourceTable)%>Const {
	
	////////// Class variables //////////
	
	/** Get source info */
	private static <%=this.GetTablename(SourceTable)%>Info instance =
		new <%=this.GetTablename(SourceTable)%>Info();
	
	////////// Class Constructor //////////
	
	/**
	 * Constructor. <br>
	 * @param Nothing
	 * @exception Nothing
	 */
	private <%=this.GetTablename(SourceTable)%>Info() {
	}
	
	////////// Class Methods //////////
	
	/**
	 * Get instance <br>
	 *
	 * @param Nothing
	 * @return <%=this.GetTablename(SourceTable)%>Info
	 * @exception Nothing
	 */
	public static <%=this.GetTablename(SourceTable)%>Info getInstance() {
		return instance;
	}
	
	/**
	 * Get table name<BR>
	 * @param Nothing
	 * @return String table name
	 * @exception Nothing
	 */
	public String getName() {
		return TABLE_NAME;
	}

	/**
	 * Get columns name<BR>
	 * @param Nothing
	 * @return String[] list columns name of table
	 * @exception Nothing
	 */
	public String[] getColumnNames() {
		return COLUMN_NAMES;
	}

	/**
	 * Get primary keys name <br>
	 * @param Nothing
	 * @return String list all primary keys of table
	 * @exception Nothing
	 */
	public String[] getPkNames() {
		return PK_NAMES;
	}
}
<script runat="template">
// My methods here.

public string SampleMethod()
{
	return "Method output.";
}
</script>