<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="HelpFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Help Form Code" %>
<%@ Property Name="PackageFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Goline Coporation" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="Package" Category="1. Context" Description="Author kage" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\\..\\include\\GolineUtilities.inc" -->
/*
 * Copyright(C) 2012 Okasan Information Systems Co.,Ltd. All rights reserved.
 * 
 * 
 */
package jp.co.okasan.dao;

import jp.co.nec.frw0100.ap.dao.*;

/**
 * <%=this.GetTablename(SourceTable)%>Target Class's Description. <br>
 * <UL>
 * <LI></LI>
 * </UL>
 * @author: <%=Author%> <%=this.GetCurrentDate()%> Create New
 */
public class <%=this.GetTablename(SourceTable)%>Target
	implements Target {
	
	////////// Class Variables //////////
	
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
	/** Target <%=this.GetColumnDescription(col)%> state */
	private boolean target<%=this.GetColumnName(col)%> = false;
	
	<%}%>
	////////// Class Constructor //////////
	
	/**
	 * Constructor. <br>
	 * @param Nothing
	 * @exception Nothing
	 */
	public <%=this.GetTablename(SourceTable)%>Target() {
		this(false);
	}
	
	/**
	 * Constructor. <br>
	 * @param selection selection state default for all fields
	 * @exception Nothing
	 */
	public <%=this.GetTablename(SourceTable)%>Target(boolean selection) {
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
		target<%=this.GetColumnName(col)%> = selection;
	<%}%>
	}
	
	////////// Class Methods //////////
		
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
	/**
	 * Set Target <%=this.GetColumnDescription(col)%> state<BR>
	 * @param selection state
	 * @exception Nothing
	 */
	public void set<%=this.GetColumnName(col)%>(boolean selection) {
		target<%=this.GetColumnName(col)%> = selection;
	}
	
	<%}%>
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
	/**
	 * Get Target <%=this.GetColumnDescription(col)%> state <br>
	 * @param Nothing
	 * @return boolean State of field
	 * @exception
	 */
	public boolean get<%=this.GetColumnName(col)%>() {
		return target<%=this.GetColumnName(col)%>;
	}
	
	<%}%>
	
	/**
	 * Get target columns<BR>
	 * @param Nothing
	 * @return boolean[] get all state of columns to array.
	 * @exception Nothing
	 */
	public boolean[] getTargetColumns() {
		boolean[] targetColumns = new boolean[] {
		<%foreach(ColumnSchema col in SourceTable.Columns){%>
			target<%=this.GetColumnName(col)%>,
		<%}%>
		};
		
		return targetColumns;
	}
	
	/**
	 * Method reset all state of fields <br>
	 * @param Nothing
	 * @exception Nothing
	 */
	public void reset() {
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
		set<%=this.GetColumnName(col)%>(false);
	<%}%>
	}
}
<script runat="template">
// My methods here.

public string SampleMethod()
{
	return "Method output.";
}
</script>