<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="FormName" Type="System.String" Default="1000" Category="1. Context" Description="Form name" %>
<%@ Property Name="UpdaterCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Huan.Nguyen Van" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="Package" Category="1. Context" Description="Author kage" %>
<%@ Property Name="Prefix" Type="System.String" Default="Pkg" Category="1. Context" Description="Prefix " %>
<%@ Property Name="EntityName" Type="System.String" Default="EntityName" Category="1. Context" Description="Name of entity" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\include\GolineUtilities.inc" -->

<%=this.getHeader1()%>
<%=this.getHeader2()%>
<%=this.getHeader3()%>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<link rel="stylesheet" type="text/css"
	href="<c:url value="/styles/<%=this.FormName%>.css" />"></link>
<script type="text/javascript"
	src="<c:url value="/scripts/paging.js" />"></script>
<script type="text/javascript"
	src="<c:url value="/scripts/<%=this.FormName%>.js" />"></script>
	
<script type="text/javascript">
	var status_1_active = '<spring:message code="page.<%=this.FormName%>.status.active" />';
	var status_2_not_active = '<spring:message code="page.<%=this.FormName%>.status.not-active" />';
	
	var message_insertSuccess ='<spring:message code="page.<%=this.FormName%>.message.insertSuccess" />';
	var message_updateSuccess ='<spring:message code="page.<%=this.FormName%>.message.updateSuccess" />';
	var message_deleteSuccess ='<spring:message code="page.<%=this.FormName%>.message.deleteSuccess" />';
	var message_confirmDelete ='<spring:message code="page.<%=this.FormName%>.message.confirmDelete" />';
	
</script>
</head>
<body>
	<div class="main_content">
		<div class="top_box">
			<h3>
				<spring:message code="page.<%=this.FormName%>.title" />
			</h3>
			<div class="content_box">
				<table cellspacing="0px" width="100%">
					<%foreach ( ColumnSchema col in SourceTable.Columns ){%>
					<tr>
						<td><spring:message code="page.<%=this.FormName%>.label.<%=col.Name.ToLower()%>" /> <%if(!col.AllowDBNull){%> <span class="starRed">*</span><%}%></td>
						<td><input class="<%=this.GetColumnNameParam(col)%>" type="text" maxlength = "30" /></td>
					</tr>
					<%}%>
					<tr>
						<td></td>
						<td colspan="5">
						<a id="btnReset" class="button_link" href="javascript:void(0);">
								<spring:message code="page.<%=this.FormName%>.button.reset" />
						</a>
						<a id="btnAdd" class="button_link"
							href="javascript:void(0);"> <spring:message
									code="page.<%=this.FormName%>.button.insert" />
						</a> <a id="btnUpdate" class="button_link hide"
							href="javascript:void(0);"> <spring:message
									code="page.<%=this.FormName%>.button.update" />
						</a> </td>
					</tr>
				</table>
			</div>
			<div class="bottom_box">
				<div class="filter">
					<table>
						<tr>
							<td><a id="btnSearch" href="javascript:void(0);"
								class="button_link"><spring:message
										code="page.<%=this.FormName%>.filter.button.search" /></a></td>
						</tr>
					</table>
				</div>
				
				<div id="<%=this.FormName%>_table">
					<div class="horizontalScroll_head_<%=this.FormName%>_table">
						<div id="head_<%=this.FormName%>_table" class="table_header">
							<div class="column0 w60px"></div>
							<%int count =1;%>
							<%foreach ( ColumnSchema col in SourceTable.Columns ){%>
								<div class="column<%=count.ToString()%> w60px">
									<spring:message code="page.<%=this.FormName%>.table.header.<%=col.Name.ToLower()%>" />
									<%count++;%>
								</div>
							<%}%>
						</div>
					</div>
					<div class="horizontalScroll_body_<%=this.FormName%>_table">
						<div class="setscroll_body_<%=this.FormName%>_table">
							<div id="body_<%=this.FormName%>_table" class="table-scroll">
								
							</div>
						</div>
					</div>
					
					<%=this.getPagging()%>
				</div>
			</div>
		</div>
	</div>
</body>
	
<script runat="template">
// My methods here.

public string getHeader1()
{
	return "<" + "%@page contentType=\"text/html;charset=UTF-8\"%" + ">";
}

public string getHeader2()
{
	return "<" + "%@page pageEncoding=\"UTF-8\"%" + ">";
}

public string getHeader3()
{
	return "<" + "%@ include file=\"/WEB-INF/commons/taglib.jsp\"%" + ">";
}

public string getPagging(){
	return "<" + "%@ include file=\"../control/paging.jsp\" %" + ">";
}
</script>