<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="FormName" Type="System.String" Default="1000" Category="1. Context" Description="Form name" %>
<%@ Property Name="UpdaterCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Huan.Nguyen Van" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="Package" Category="1. Context" Description="Author kage" %>
<%@ Property Name="Prefix" Type="System.String" Default="Pkg" Category="1. Context" Description="Prefix " %>
<%@ Property Name="EntityName" Type="System.String" Default="EntityName" Category="1. Context" Description="Name of entity" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\include\GolineUtilities.inc" -->

@CHARSET "ISO-8859-1";

/* Begin common */
body {
	color: #666666;
}

input[type="text"],
input[type="password"],
select {
	border: 1px solid #C4C4C4;
}

.top_box input[type="text"],
.top_box input[type="password"]{
	width: 180px;
	
}

.filter input[type="text"],
.filter select{
	width: 120px;
}
	
.member_layout .bottom_box {
    padding-left: 15px;
    padding-right: 15px;
}
.bottom_box {
    height: 400px;
}

.bottom_box .filter > table {
    padding: 10px 10px 10px 0;
}

.horizontalScroll_head_<%=this.FormName%>_table {
    height: 27px;
    overflow: hidden;
    position: relative;
}

#head_<%=this.FormName%>_table, #body_<%=this.FormName%>_table {
    width: 2895px;
}

#head_<%=this.FormName%>_table {
    position: absolute;
}

.horizontalScroll_body_<%=this.FormName%>_table {
    float: left;
    height: 322px;
    width: 960px;
}
<script runat="template">
// My methods here.

public string SampleMethod()
{
	return "Method output.";
}
</script>