<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="HelpFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Help Form Code" %>
<%@ Property Name="PackageFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Goline Coporation" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="Package" Category="1. Context" Description="Author kage" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\\..\\..\\include\\GolineUtilities.inc" -->
/*
 * Copyright(C) 2012 Okasan Information Systems Co.,Ltd. All rights reserved.
 */
package jp.co.okasan.cm.hlp.hlp<%=this.HelpFormCode%>;

import jp.co.nec.frw0000.cm.data.Frw00InputData;

/**
 * Hlp<%=this.HelpFormCode%>InputData class's Description. <br>
 * <p>
 *  Input data class of <%=this.GetTableDescription(this.SourceTable)%>.
 * </p>
 * Set and Get data of screen component.
 * 
 * @author: <%=Author%> <%=this.GetCurrentDate()%> Create New
 */
public class Hlp<%=this.HelpFormCode%>InputData extends Frw00InputData {
	
	////////// Class Variables //////////
	
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
	/** <%=this.GetColumnDescription(col)%> */
	private String <%=this.GetColumnNameParam(col)%>;
	
	<%}%>
	////////// Class Methods //////////
	
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
	/**
	 * Get <%=this.GetColumnDescription(col)%><br>
	 * 
	 * @param Nothing
	 * @return String <%=this.GetColumnName(col)%>
	 * @exception Nothing
	 */
	public String get<%=this.GetColumnName(col)%>() {
		return <%=this.GetColumnNameParam(col)%>;
	}
	
	<%}%>
	<%foreach(ColumnSchema col in SourceTable.Columns){%>
	/**
	 * Set <%=this.GetColumnDescription(col)%><br>
	 * 
	 * @param <%=this.GetColumnNameParam(col)%> String <%=this.GetColumnDescription(col)%>
	 * @exception Nothing
	 */
	public void set<%=this.GetColumnName(col)%>(String <%=this.GetColumnNameParam(col)%>) {
		this.<%=this.GetColumnNameParam(col)%> = <%=this.GetColumnNameParam(col)%>;
	}
	
	<%}%>
}

<script runat="template">
// My methods here.

public string SampleMethod()
{
	return "Method output.";
}
</script>