<%-- 
Name:
Author: 
Description: 
--%>
<%-- Context --%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>

<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>
<%@ Property Name="SourceTables" Type="SchemaExplorer.TableSchemaCollection" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="Author" Type="System.String" Default="Huan.Nguyen Van" Category="1. Context" Description="Author" %>

<%@ Property Name="GeneratePath" Type="System.String" Default="C:\Goline\" Category="2. Options" Description="Path to gen" %>		
<%@ Property Name="DeleteOldData" Type="System.Boolean" Default="false" Category="2. Options" Description="Delete Old Data.." %>	
	
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Generic" %>
<!-- #include file="include\\GolineUtilities.inc" -->

<%ClearOldData();%>
<%Gen();%>
Success!
<script runat="template">
public void Gen()
{
	StreamWriter sw;
	string filePath;
	string categoryDir;
	CodeTemplate template = null;
	
	//DataAccess2.cst
	categoryDir = string.Format(@"{0}\xeca-offline\DataAccess", GetGenPath());
	if (!Directory.Exists(categoryDir))
	{
		Directory.CreateDirectory(categoryDir);
	}
	ClearFolder(categoryDir);
	for(int i = 0 ; i < SourceTables.Count; i++)
	{
		template = CreateTemplate("xeca-offline\\DataAccess2.cst");
		
		template.SetProperty("EntityName", getTableClassName(SourceTables[i]));
		template.SetProperty("Author",Author);
		template.SetProperty("SourceTable", SourceTables[i]);
		
		filePath = string.Format(@"{0}\xeca_sync.java", categoryDir);
		sw = GetSW(filePath);
		template.Render(sw);
		sw.Close();
		Response.WriteLine(string.Format("Genrator file {0} ", filePath), true, Encoding.UTF8);
	}
	
	//XecaBussinessInterface.cst
	for(int i = 0 ; i < SourceTables.Count; i++)
	{
		template = CreateTemplate("xeca-offline\\XecaBussinessInterface.cst");
		
		template.SetProperty("EntityName", getTableClassName(SourceTables[i]));
		template.SetProperty("Author",Author);
		template.SetProperty("SourceTable", SourceTables[i]);
		
		filePath = string.Format(@"{0}\xeca_sync_interface.java", categoryDir);
		sw = GetSW(filePath);
		template.Render(sw);
		sw.Close();
		Response.WriteLine(string.Format("Genrator file {0} ", filePath), true, Encoding.UTF8);
	}
	
	//XecaBussinessImpl.cst
	for(int i = 0 ; i < SourceTables.Count; i++)
	{
		template = CreateTemplate("xeca-offline\\XecaBussinessImpl.cst");
		
		template.SetProperty("EntityName", getTableClassName(SourceTables[i]));
		template.SetProperty("Author",Author);
		template.SetProperty("SourceTable", SourceTables[i]);
		
		filePath = string.Format(@"{0}\xeca_sync_impl.java", categoryDir);
		sw = GetSW(filePath);
		template.Render(sw);
		sw.Close();
		Response.WriteLine(string.Format("Genrator file {0} ", filePath), true, Encoding.UTF8);
	}
}

//public string getClassName(

public string ReturnObjectName(TableSchema table)
{
	string stable =  getTableClassName(table);
	return stable;
}

public CodeTemplate CreateTemplate(string templatefile)
{
	CodeTemplateCompiler compiler = new CodeTemplateCompiler(templatefile);
	compiler.Compile();		
	if (compiler.Errors.Count == 0)
	{
		return compiler.CreateInstance();
	}
	else
	{
		for (int i = 0; i < compiler.Errors.Count; i++)
		{
			Response.WriteLine(compiler.Errors[i].ToString());
		}
		return null;
	}		
}



public static StreamWriter GetSW(string path)
{
	StreamWriter sw = new StreamWriter(path, true, Encoding.UTF8);
	return sw;
}

public void ClearOldData()
{
	if(DeleteOldData)
	{
 		DirectoryInfo di = new DirectoryInfo(GetGenPath());
		foreach (DirectoryInfo directory in di.GetDirectories())
		{
			foreach (FileInfo fileInfo in directory.GetFiles())
			{
				fileInfo.Delete();
			}
		}
	}
}

public void ClearFolder(string path)
{
	DirectoryInfo di = new DirectoryInfo(path);
	foreach (FileInfo fileInfo in di.GetFiles())
	{
			fileInfo.Delete();
			File.Delete(fileInfo.FullName);
	}
		
	foreach (DirectoryInfo directory in di.GetDirectories())
	{
		foreach (FileInfo fileInfo in directory.GetFiles())
		{
			fileInfo.Delete();
			File.Delete(fileInfo.FullName);
		}
		
		directory.Delete();
		Directory.Delete(directory.FullName);
	}
	
	
}

public string GetGenPath()
{
	if (string.IsNullOrEmpty(GeneratePath))
	{
		throw new Exception("Khong xac dinh duoc GenereatePath");
	}
	
	string path = GeneratePath;
	
	if (!path.EndsWith(@"\"))
	{
		path += @"\";
	}
	
	path += "okasan";
	
	if (!Directory.Exists(path))
	{
		Directory.CreateDirectory(path);
	}
	
	return path;
}

public string ReturnObjectClass(string sobject)
{
	Dictionary<string, string> dict = new Dictionary<string, string>();
	string stable = sobject;
	return stable;
}
</script>
