<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="HelpFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Help Form Code" %>
<%@ Property Name="PackageFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Goline Coporation" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="mst" Category="1. Context" Description="Author kage" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\\..\\..\\include\\GolineUtilities.inc" -->
/*
 * Copyright(C) 2012 Okasan Information Systems Co.,Ltd. All rights reserved.
 */
package jp.co.okasan.ap.<%=Package%>.<%=Package%><%=this.PackageFormCode%>;

import java.sql.SQLException;

import jp.co.nec.com0000.ap.Context;
import jp.co.nec.frw1000.cm.Frw10StringUtil;
import jp.co.okasan.cmn.CommonHelper;
import jp.co.okasan.cmn.LanguageGetter;
import jp.co.okasan.cm.<%=Package%>.<%=Package%><%=this.PackageFormCode%>.<%=this.GetResultDataName(Package, this.PackageFormCode)%>;

/**
 * <%=this.GetAnswerOutputName(Package, this.PackageFormCode)%> Class's Description. <br>
 * Answer output stage class.
 * 
 * @author: <%=Author%> <%=this.GetCurrentDate()%> Create New
 */
public class <%=this.GetAnswerOutputName(Package, this.PackageFormCode)%> {

	////////// Class Variables //////////
	
	/** Action mode name */
	private String actionModeName = null;
	
	/**
	 * Modify the content of answer and insert into answer component. <br>
	 * 
	 * @param ctx Context the contextual of <%=this.GetTableDescription(this.SourceTable)%>
	 * @exception SQLException
	 */
	public void doTask(Context ctx) throws SQLException {
		
		// Max title width column 1
		final int TITLE_WIDTH_COL1 = 20;

		// Max data width column 1
		final int DATA_WIDTH_COL1 = 20;

		
		// Create buffer for answer content
		StringBuffer answer = new StringBuffer();
		
		// Context
		<%=this.GetContextName(Package, this.PackageFormCode)%> context = (<%=this.GetContextName(Package, this.PackageFormCode)%>) ctx;
		
		// Get Response data
		<%=this.GetResultDataName(Package, this.PackageFormCode)%> resultData = context.getResultData();
		
		// Settings of ActionMode
		actionModeName = CommonHelper.getActionModeDisplay(resultData.getActionMode());
		
		// Mode
		answer.append("\n");
		answer.append(Frw10StringUtil.rightPadByte(
				LanguageGetter.getProperty("MODE"), TITLE_WIDTH_COL1, ' '));
		answer.append(resultData.getActionMode());
		answer.append(" : ");
		answer.append(actionModeName);
		
		<%foreach(ColumnSchema col in SourceTable.Columns){%>
		<%if(col.Name == "DEL_CD" || col.Name == "REG_DATE_TIME" || col.Name == "REG_USER_ID" || col.Name == "UPD_DATE_TIME" || col.Name == "UPD_USER_ID") continue;%>
		
		// <%=this.GetColumnName(col)%>
		answer.append("\n");
		answer.append(Frw10StringUtil.rightPadByte(
				LanguageGetter.getProperty("<%=this.GetPanelName(this.Package, this.PackageFormCode)%>_lbl<%=this.GetColumnName(col)%>"), TITLE_WIDTH_COL1, ' '));
		<%if(this.IsTextColumn(col)){%>
		answer.append(CommonHelper.rightPad(resultData.get<%=this.GetColumnName(col)%>(),
				DATA_WIDTH_COL1, ' '));
		<%}%>
		<%if(this.IsNumberColumn(col)){%>
		answer.append(CommonHelper.rightPadByteNumber(resultData.get<%=this.GetColumnName(col)%>(),
				DATA_WIDTH_COL1, ' '));
		<%}%>
		<%}%>
		
		answer.append("\n\n");
		answer.append(CommonHelper.rightPadByte("REGISTERED", TITLE_WIDTH_COL1));
		answer.append(resultData.getRegDateTime());

		answer.append("   ");
		answer.append(resultData.getRegUserId());

		answer.append("\n");
		answer.append(CommonHelper.rightPadByte("UPDATED", TITLE_WIDTH_COL1));
		answer.append(resultData.getUpdDateTime());

		answer.append("   ");
		answer.append(resultData.getUpdUserId());
		
		answer.append("\n\n");
		answer.append(" --------- End Of Data ---------");

		// Set answer content result to context class
        context.setAnswerContent(answer.toString());
	}
}
<script runat="template">
// My methods here.

public string SampleMethod()
{
	return "Method output.";
}
</script>