<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="1. Context"
	Description="Table that the stored procedures should be based on." %>	

<%@ Property Name="HelpFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Help Form Code" %>
<%@ Property Name="PackageFormCode" Type="System.String" Default="1000" Category="1. Context" Description="Package Form Code" %>

<%@ Property Name="Author" Type="System.String" Default="Goline Coporation" Category="1. Context" Description="Author" %>
<%@ Property Name="Package" Type="System.String" Default="mst" Category="1. Context" Description="Author kage" %>

<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="SampleStringProperty" Type="System.String" Default="SomeValue" Optional="True" Category="Strings" Description="This is a sample string property." %>
<%@ Property Name="SampleBooleanProperty" Type="System.Boolean" Default="True" Optional="False" Category="Booleans" Description="This is a sample boolean property." %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%-- Assembly References --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%-- Namespace Imports --%>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<!-- #include file="..\\..\\..\\include\\GolineUtilities.inc" -->
/*
 * Copyright(C) 2012 Okasan Information Systems Co.,Ltd. All rights reserved.
 */
package jp.co.okasan.ap.<%=Package%>.<%=Package%><%=this.PackageFormCode%>;

import jp.co.nec.com0000.ap.Context;
import jp.co.nec.frw0000.cm.data.Frw00InputData;
import jp.co.nec.frw0000.cm.data.Frw00ResultData;
import jp.co.nec.inf3000.ap.registration.Inf30AnsPushMsgRegHelper;

import jp.co.okasan.dao.<%=this.GetTablename(SourceTable)%>Data;
import jp.co.okasan.cm.<%=Package%>.<%=Package%><%=this.PackageFormCode%>.<%=this.GetInputDataName(Package, this.PackageFormCode)%>;
import jp.co.okasan.cm.<%=Package%>.<%=Package%><%=this.PackageFormCode%>.<%=this.GetResultDataName(Package, this.PackageFormCode)%>;

/**
 * <%=this.GetContextName(Package, this.PackageFormCode)%> Class's Description <br>
 * Context of <%=this.GetTableDescription(this.SourceTable)%>
 * 
 * @author: <%=Author%> <%=this.GetCurrentDate()%> Create New
 */
public class <%=this.GetContextName(Package, this.PackageFormCode)%> extends Context {
	
	////////// Constance Variables //////////
	
	/** Get logger name */
	private static final String LOGGER_NAME = <%=this.GetContextName(Package, this.PackageFormCode)%>.class.getPackage().getName();
	
	////////// Define Variables //////////
	
	/** AnswerId */
	private String answerId;

	/** Table data Class */
	private <%=this.GetTablename(SourceTable)%>Data currentData;

	/** Input data class */
	private <%=this.GetInputDataName(Package, this.PackageFormCode)%> inputData;
	
	/** Response data class */
	private <%=this.GetResultDataName(Package, this.PackageFormCode)%> resultData;
	
	/** Push Message */
	private String pushMsgId;
	
	/** Answer push message registration helper*/
	private Inf30AnsPushMsgRegHelper regHelper;
	
	/** Answer content */
    private String answerContent;
    
	/** Answer title*/
	private String title;
    
	/** Answer message author */
	private String[] ansMsgAut;
	
	////////// Define Methods //////////
	
	/**
	 * Initialize variables <br>
	 * 
	 * @param Nothing
	 * @exception Nothing
	 */
	public void clear() {
		answerId = "";
		pushMsgId = "";
		regHelper = null;
		inputData = null;
		resultData = null;
		currentData = null;
	}
	
	/**
	 * Get answerId <br>
	 * 
	 * @param Nothing
	 * @return answerId String
	 * @exception Nothing
	 */
	public String getAnswerId() {
		return answerId;
	}
	
	/**
	 * Get currentData <br>
	 * 
	 * @param Nothing
	 * @return currentData <%=this.GetTablename(SourceTable)%>Data
	 * @exception Nothing
	 */
    public <%=this.GetTablename(SourceTable)%>Data getCurrentData() {
		return currentData;
	}
	
	/**
	 * Get inputData <br>
	 * 
	 * @param Nothing
	 * @return inputData <%=this.GetInputDataName(Package, this.PackageFormCode)%>
	 * @exception Nothing
	 */
    public <%=this.GetInputDataName(Package, this.PackageFormCode)%> getInputData() {
		return inputData;
	}
	
	/**
	 * Get logger name <br>
	 * 
	 * @param Nothing
	 * @return String logger name
	 * @exception Nothing
	 */
	public String getLoggerName() {
		return LOGGER_NAME;
	}
	
	/**
	 * Get pushMsgId <br>
	 * 
	 * @param Nothing
	 * @return pushMsgId String
	 * @exception Nothing
	 */
	public String getPushMsgId() {
		return pushMsgId;
	}
	
	/**
	 * Get regHelper <br>
	 * 
	 * @param Nothing
	 * @return regHelper Inf30AnsPushMsgRegHelper
	 * @exception Nothing
	 */
	public Inf30AnsPushMsgRegHelper getRegHelper() {
		return regHelper;
	}
	
	/**
	 * Get resultData <br>
	 * 
	 * @param Nothing
	 * @return resultData <%=this.GetResultDataName(Package, this.PackageFormCode)%>
	 * @exception Nothing
	 */
    public <%=this.GetResultDataName(Package, this.PackageFormCode)%> getResultData() {
		return resultData;
	}
	
	/**
	 * Release variables of class <br>
	 * 
	 * @param Nothing
	 * @exception Nothing
	 */
	public void release() {
		super.release();
		regHelper = null;
		inputData = null;
		resultData = null;
		currentData = null;
	}
	
	/**
	 * Set answerId <br>
	 * 
	 * @param answerId String
	 * @exception Nothing
	 */
	public void setAnswerId(String answerId) {
		this.answerId = answerId;
	}
	
	/**
	 * Set currentData <br>
	 * 
	 * @param currentData <%=this.GetTablename(SourceTable)%>Data
	 * @exception Nothing
	 */
    public void setCurrentData(<%=this.GetTablename(SourceTable)%>Data currentData) {
		this.currentData = currentData;
	}
	
	/**
     * Set input data <br>
     * 
     * @param inputData Frw00InputData(inputData)
     * @exception Nothing
     */
    public void setInputData(Frw00InputData inputData) {
        super.setInputData(inputData);
        this.inputData = (<%=this.GetInputDataName(Package, this.PackageFormCode)%>) inputData;
    }
	
	/**
	 * Set pushMsgId <br>
	 * 
	 * @param pushMsgId	String
	 * @exception Nothing
	 */
	public void setPushMsgId(String pushMsgId) {
		this.pushMsgId = pushMsgId;
	}
	
	/**
	 * Set regHelper <br>
	 * 
	 * @param regHelper Inf30AnsPushMsgRegHelper
	 * @exception Nothing
	 */
	public void setRegHelper(Inf30AnsPushMsgRegHelper regHelper) {
		this.regHelper = regHelper;
	}
	
	/**
	 * Set ResultData <br>
	 * 
	 * @param resultData Frw00ResultData (resultData)
	 * @exception Nothing
	 */
	public void setResultData(Frw00ResultData resultData) {
		super.setResultData(resultData);
		this.resultData = (<%=this.GetResultDataName(Package, this.PackageFormCode)%>) resultData;
	}
	
	/**
     * Get <%=this.GetContextName(Package, this.PackageFormCode)%>.java Ans Message
	 *
     * @return <%=this.GetContextName(Package, this.PackageFormCode)%>.java String[]
     * @exception Nothing
     */
    public String[] getAnsMsgAut() {
        return ansMsgAut;
    }
	
	/**
     * Set <%=this.GetContextName(Package, this.PackageFormCode)%>.java
	 *
     * @param <%=this.GetContextName(Package, this.PackageFormCode)%>.java String[]
     * @exception
     */
    public void setAnsMsgAut(String[] ansMsgAut) {
        this.ansMsgAut = ansMsgAut;
    }
	
	/**
     * Get <%=this.GetContextName(Package, this.PackageFormCode)%>.java Ans content
	 *
     * @param Nothing
     * @return <%=this.GetContextName(Package, this.PackageFormCode)%> String
     * @exception Nothing
     */
    public String getAnswerContent() {
        return answerContent;
    }
	
	/**
     * Set <%=this.GetContextName(Package, this.PackageFormCode)%>.java Ans content
	 *
     * @param <%=this.GetContextName(Package, this.PackageFormCode)%> String
     * @exception Nothing
     */
    public void setAnswerContent(String answerContent) {
        this.answerContent = answerContent;
    }
	
	/**
     * Get <%=this.GetContextName(Package, this.PackageFormCode)%>.java title
	 *
     * @param Nothing
     * @return <%=this.GetContextName(Package, this.PackageFormCode)%>.java String
     * @exception Nothing
     */
    public String getTitle() {
        return title;
    }
	
	/**
     * Set <%=this.GetContextName(Package, this.PackageFormCode)%>.java title
	 *
     * @param <%=this.GetContextName(Package, this.PackageFormCode)%>.java String
     * @exception Nothing
     */
    public void setTitle(String title) {
        this.title = title;
    }
}
<script runat="template">
// My methods here.

public string SampleMethod()
{
	return "Method output.";
}
</script>